$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;

$primaryColor: #000000;
$secondColor: #686868;
$lightGrayColor: #F5F5F5;
$purpleColor: #8E53FF;
$greenColor: #58AF00;
$pinkColor: #C91ECC;
$darkPinkColor: #AC0053;
$bluePoolColor: #08B4B4;
$blueColor: #08A3E5;
$darkBlueColor: #361ECC;
$orangeColor: #EC7F00;
$redColor: #B60000;
$whiteColor: #ffff;
$shadow: 0 0 5px rgba(51, 51, 51, 0.272);
$blackShadow: 0 0 5px #00000090;

footer {
    background-color: $lightGrayColor;
    margin-top: 30px;
    box-shadow: $shadow;
    position: relative;
    margin: auto;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    .pages {
        display: flex;
        flex-direction: row;
        margin: 10px 40px;

        p {
            padding: 10px;
            cursor: pointer;

            &:hover {
                color: $purpleColor;
                transition: all 0.4s ease;
            }
        }
    }

    .copy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 40px;

        img{
            cursor: pointer;
        }
    }

    .socialMedias {

        img{
            margin: 0 10px;
            cursor: pointer;
        }
    }
}