@import '~bootstrap/scss/bootstrap';

$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;

$primaryColor: #000000;
$secondColor: #686868;
$lightGrayColor: #F5F5F5;
$purpleColor: #8E53FF;
$greenColor: #58AF00;
$pinkColor: #C91ECC;
$darkPinkColor: #AC0053;
$bluePoolColor: #08B4B4;
$blueColor: #08A3E5;
$darkBlueColor: #361ECC;
$orangeColor: #EC7F00;
$redColor: #B60000;
$whiteColor: #ffff;
$shadow: 0 0 5px rgba(51, 51, 51, 0.2);
$blackShadow: 0 0 5px #00000090;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: $fontStyle;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

button {
    font: $fontStyle;
    padding: $standardSpace;
    background-color: $purpleColor;
    border: none;
    color: $whiteColor;
    max-width: 200px;
    width: 100%;
}

nav {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navContainer {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        left: 0;

        .navContainerLeft {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;

            img, .navInputPesquisar {
                margin: 0 20px;
            }
        }

        .navContainerRight {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;

            img, .withoutSpace {
                margin: 0 20px;
                cursor: pointer;

                
            }
        }

        img {
            height: 30%;

            .imgLogo {
                height: 60% !important;
            }
        }

        .navInputPesquisar {
            display: flex;
            align-items: center;
            border: 1px solid $secondColor;
            border-radius: 10px;
            padding: 0 15px;
            height: 40px;

            img {
                margin: 0;
                height: 50%;
            }

            .navInputPesquisarInput {
                border: none;
                width: max-content;
            }
        }

        
        button {
            font: $fontStyle;
            padding: $standardSpace;
            background-color: $whiteColor;
            border: none;
            color: $secondColor;
            max-width: 200px;
            width: 100%;
            cursor: pointer;

            &:hover {
                color: $purpleColor;
                transition: all 0.4s ease;
            }
        }

        .btnRntrar {
            border: none;
            cursor: pointer;
        }

        .btnCadastrar {
            border: none;
            cursor: pointer;
        }

        .withoutSpace {
            display: flex;
        }
    }

    .dropdownLink {
        text-decoration: none !important;
        color: #000 !important;
        background-color: transparent !important;
        border: none !important;
    }
}

.inputSection {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .menuCard {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: min-content;

        .cards {
            width: 7rem;
            margin: 20px;
            text-align: center;
            cursor: pointer;

            img {
                background-color: #F5F6F7;
                border-radius: 5px;
                padding: 20px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 550;
                font-size: large;
            }

            &:hover {
                color: $purpleColor;
                transition: all 0.4s ease;
            }

        }
    }
}

.categorias {
    width: 100%;
    background-color: $purpleColor;
    color: $whiteColor;
    padding: 15px;
    text-align: center;
    font-size: larger;
    margin: 20px 0;
}

.productSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 10px 10px 50px 10px;

    .productCard {
        box-shadow: $shadow;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .deletarCard {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 30vh;
            margin: 10px;
        }

        p{
            margin: 10px;
            text-align: justify;
            word-wrap: break-word;
        }

        .produtoTitulo {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;

            span {
                cursor: pointer;
                margin: 10px;

                &:hover {
                    color: red;
                }
            }
        }

        .produtoDescricao {
            font-size: 16px;
            font-style: italic;
        }

        .produtoPreco {
            color: $redColor;
            font-size: 18px;

        }

        &:hover {
            box-shadow: none;
            box-shadow: $blackShadow;
            transition: all 0.4s ease;
        }
    }

    .divFazerProposta {
        border: 1px solid $blueColor;
        color: $blueColor;
        padding: 2px 5px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        color: $blueColor;
        cursor: pointer;

        &:hover {
            color: $whiteColor;
            background-color: $blueColor;
            transition: all 0.4s ease;
        }
    }
    
}

.novoProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 76.5vh;

    .novoProdutoForm {
        p {
            font-size: 32px;
            margin: 20px;
            width:100%;
        }
    
        .novoProdutoFormInputs {
            display: flex;
            flex-direction: column;
    
            input {
                border: 1px solid $secondColor;
                padding: 10px;
                max-width: 50vh;
                margin: 10px;
                font: $fontStyle;
            }
    
            textarea {
                border: 1px solid $secondColor;
                padding: 10px;
                max-width: 50vh;
                margin: 10px;
                font: $fontStyle;
            }
        
            button {
                background-color: $purpleColor;
                color: $whiteColor;
                border: 1px solid $purpleColor;
                border-radius: 50px;
                max-width: 50vh;
                margin: 10px 0 20px 0;
                cursor: pointer;

                &:hover {
                    background-color: $whiteColor;
                    color: $purpleColor;
                    border: 1px solid $purpleColor;
                    transition: all 0.4s ease;
                }
            }
        }
    }
}

.footer {
    background-color: $lightGrayColor;
    margin-top: 30px;
    box-shadow: $shadow;
    position: relative;
    margin: auto;
    bottom: 0;
    width: 100%;

    .footerContainer {
        display: flex;
        flex-direction: column;
    
        .footerPages {
            display: flex;
            flex-direction: row;
            margin: 10px 40px;
    
            p {
                padding: 10px;
                cursor: pointer;
    
                &:hover {
                    color: $purpleColor;
                    transition: all 0.4s ease;
                }
            }
        }
    
        .footerCopy {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px 40px;
    
            img{
                cursor: pointer;
            }
        }
    
        .footerSocialMedias {
    
            img{
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
}

.editarPerfilSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    width: 80vh;
    margin: 20px;
}

.meusAnunciosSection {
    min-height: 75vh;
    margin-left: 20px;
}