$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;

$primaryColor: #000000;
$secondColor: #686868;
$purpleColor: #8E53FF;
$greenColor: #58AF00;
$pinkColor: #C91ECC;
$darkPinkColor: #AC0053;
$blueColor: #08B4B4;
$darkBlueColor: #361ECC;
$orangeColor: #EC7F00;
$redColor: #B60000;
$whiteColor: #ffff;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: $fontStyle;
}

button {
    font: $fontStyle;
    padding: $standardSpace;
    background-color: $purpleColor;
    border: none;
    color: $whiteColor;
    max-width: 200px;
    width: 100%;
}
nav {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        left: 0;

        .nav-container-left {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;

            img, .nav-input-pesquisar {
                margin: 0 20px;
            }
        }

        .nav-container-right {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;

            img, .without-space {
                margin: 0 20px;
                cursor: pointer;

                
            }
        }

        img {
            height: 30%;

            #img-logo {
                height: 60% !important;
            }
        }

        .nav-input-pesquisar {
            display: flex;
            border: 1px solid $secondColor;
            border-radius: 10px;
            padding: 0 15px;

            img {
                margin: 0;
            }

            #nav-input-pesquisar-input {
                border: none;
                width: max-content;
            }
        }

        
        button {
            font: $fontStyle;
            padding: $standardSpace;
            background-color: $whiteColor;
            border: none;
            color: $secondColor;
            max-width: 200px;
            width: 100%;
            cursor: pointer;

            &:hover {
                color: $purpleColor;
                transition: all 0.4s ease;
            }
        }

        #btn-entrar {
            border: none;
            cursor: pointer;
        }

        #btn-cadastrar {
            border: none;
            cursor: pointer;
        }

        .without-space {
            display: flex;
        }
    }
}

.input-section {
    height: 20vh;

    .menu-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: -webkit-fill-available;

        .cards {
            margin: 20px;
            text-align-last: center;
            cursor: pointer;

            img {
                background-color: #F5F6F7;
                border-radius: 5px;
                padding: 20px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 550;
                font-size: large;
            }

        }
    }
}

.categorias {
    width: 100%;
    background-color: $purpleColor;
    color: $whiteColor;
    padding: 15px;
    text-align: center;
    font-size: larger;
    margin: 20px 0;
}

.product-section {
    height: 80vh;
    background-color: #D6D6D6;
    display: flex;

    .product-card {
        display: flex;
        flex-direction: column;
        background-color: $whiteColor;
        margin: 20px;
        padding: 5px;

        img {
            size: 25%;
            margin: 10px;
        }

        p{
            margin: 10px;
        }

        .produto-titulo {
            font-size: 16px;
            font-weight: 600;
        }

        .produto-descricao {
            font-size: 16px;
            font-style: italic;
        }

        .produto-preco {
            color: $redColor;
            font-size: 18px;

        }
    }
}